<div class="flags">
    
    <div class="rectangle">
        
        <div class="home_button">
            <a href="/home">
                <img id="home_icon" src="/images/icons/home.png" alt="home alt"/>
            </a>
        </div>
        <div class="flag_options">
            <h1 class="flags_title">Flags</h1>
            <div class="search_bar">
            <input type="text" id="search-input" placeholder="Enter a country name">
            <button id="search-button">Search</button>
        </div>
        </div>
        <div class="search-result">
            <img id="country-flag" src="">
            <div id="country-name"></div>
        </div>
        <script src="/js/search.js"  type="module"></script>
    </div>
</div>
