<div class="circle">

 
        <div class="title">
            <h1>Flag Quiz</h1>
        </div>
        
        <div class="play_button">
        <a href="/play">
            <img id="play_icon" src="/images/icons/play.png" alt="play icon">
        </a>
        </div>
       
        <div class="flags_button">
        <a href="/flags">
            <img id="flag_icon" src="/images/icons/flag.png" alt="flag icon">
        </a>
        </div>

        <div class="quellen_button">
            <a href="/quellen">
                <h4>Bild Quellen</h2>
            </a>
            </div>

</div>