<div class="play">


    <div class="rectangle">

    

        <div class="quiz-container">
            <div class="home_button">
                <a href="/home">
                    <img id="home_icon" src="/images/icons/home.png" alt="home alt" />
                </a>
            </div>
            <div class="flag-container">

            </div>

        </div>
    </div>


    <script src="/js/quiz.js" type="module"></script>
    <script type="module">
        import { createquiz } from "/js/quiz.js"

        createquiz()
    </script>