<div class="quellen">
    <div class="rectangle">
        <div class="home_button">
            <a href="/home">
            <img id="home_icon" src="/images/icons/home.png"
            alt="home alt"/>
            </a>
        </div>

        <h1 class="quellen_title">Bild Quellen</h1>

        <div class="links">
            <a target="_blank" href="https://icons8.com/icon/398/spielen">Spielen</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <br>
            <br>
            <a target="_blank" href="https://icons8.com/icon/94694/flagge-2">Flagge 2</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <br>
            <br>
            <a target="_blank" href="https://icons8.com/icon/83246/startseite">Startseite</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <br>
            <br> 
            <br>
            <br>
            All flags from <a target="_blank" href="https://de.wikipedia.org/wiki/Wikipedia:Hauptseite">Wikipedia</a>
        </div>

    </div>

</div>